/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
*
*   Edited by Matthew Rothfuss
*   08-22-2018
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Contact Section
   f. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../img/coffee-tea_continental_divide_Japan_crop-s4.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */

header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text {
  width: 100%;
}

header .banner-text h1 {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
  font: 18px/1.9em 'librebaskerville-regular', serif;
  color: #A8A8A8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h3 span,
header .banner-text h3 a {
  color: #fff;
}

header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2F2D2E;
  border-color: rgba(150, 150, 150, .1);
}

/* header social links */

header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

header .social li a {
  color: #fff;
}

header .social li a:hover {
  color: #11ABB0;
}

/* scrolldown link */

header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .scrolldown a:hover {
  color: #11ABB0;
}

/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */

#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.opaque {
  background-color: #333;
}

/* hide toggle button */

#nav-wrap>a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;
  /* center align the menu */
  text-align: center;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */

ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}

ul#nav li.current a {
  color: #F06000;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #2B2B2B;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about a,
#about a:visited {
  color: #fff;
}

#about a:hover,
#about a:focus {
  color: #11ABB0;
}

#about h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

#about p {
  line-height: 30px;
  color: #7A7A7A;
}

#about .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

#about .contact-details {
  width: 41.66667%;
}

#about .download {
  width: 58.33333%;
  padding-top: 6px;
}

#about .main-col {
  padding-right: 5%;
}

#about .download .button {
  margin-top: 6px;
  background: #444;
}

#about .download .button:hover {
  background: #fff;
  color: #2B2B2B;
}

#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#resume a,
#resume a:visited {
  color: #11ABB0;
}

#resume a:hover,
#resume a:focus {
  color: #313131;
}

#resume h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
}

#resume h1 span {
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}

#resume h3 {
  font: 25px/30px 'opensans-bold', sans-serif;
  padding-top: 3px;
}

#resume .header-col {
  padding-top: 9px;
}

#resume .main-col {
  padding-right: 10%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
}

#resume .info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
}

#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}

#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}

.bars .skills {
  margin-top: 36px;
  list-style: none;
}

.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 42px;
  border-radius: 3px;
}

.bars li em {
  font: 15px 'opensans-bold', sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}

.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}

.python {
  width: 60%;
  -moz-animation: python 2s ease;
  -webkit-animation: python 2s ease;
}

.labview {
  width: 50%;
  -moz-animation: labview 2s ease;
  -webkit-animation: labview 2s ease;
}

.latex {
  width: 30%;
  -moz-animation: latex 2s ease;
  -webkit-animation: latex 2s ease;
}

.sql {
  width: 40%;
  -moz-animation: sql 2s ease;
  -webkit-animation: sql 2s ease;
}

.cad {
  width: 20%;
  -moz-animation: cad 2s ease;
  -webkit-animation: cad 2s ease;
}

.scripting {
  width: 12%;
  -moz-animation: scripting 2s ease;
  -webkit-animation: scripting 2s ease;
}

.msoffice {
  width: 54%;
  -moz-animation: msoffice 2s ease;
  -webkit-animation: msoffice 2s ease;
}

@-moz-keyframes python {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@-moz-keyframes labview {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}

@-moz-keyframes latex {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}

@-moz-keyframes sql {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}

@-moz-keyframes cad {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}

@-moz-keyframes scripting {
  0% {
    width: 0px;
  }
  100% {
    width: 12%;
  }
}

@-moz-keyframes msoffice {
  0% {
    width: 0px;
  }
  100% {
    width: 54%;
  }
}

@-webkit-keyframes python {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes labview {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes latex {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}

@-webkit-keyframes sql {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes cad {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes scripting {
  0% {
    width: 0px;
  }
  100% {
    width: 12%;
  }
}

@-webkit-keyframes msoffice {
  0% {
    width: 0px;
  }
  100% {
    width: 45%;
  }
}

/* ------------------------------------------------------------------ */
/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */

.flexslider a:active,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides li {
  margin: 0;
  padding: 0;
}

/* Necessary Styles */

.flexslider {
  position: relative;
  zoom: 1;
  margin: 0;
  padding: 0;
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides>li {
  position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides>li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */

.flex-container {
  zoom: 1;
  position: relative;
}

/* Clearfix for .slides */

.slides:before,
.slides:after {
  content: " ";
  display: table;
}

.slides:after {
  clear: both;
}

/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides>li:first-child {
  display: block;
}

/* Slider Styles */

.slides {
  zoom: 1;
}

.slides>li {
  /*margin-right: 5px; */
  overflow: hidden;
}

/* Control Nav */

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -20px;
  text-align: left;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 12px;
  height: 12px;
  display: block;
  background: #ddd;
  background: rgba(255, 255, 255, .3);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}

.flex-control-paging li a:hover {
  background: #CCC;
  background: rgba(255, 255, 255, .7);
}

.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, .9);
  cursor: default;
}

/* ------------------------------------------------------------------ */
/* e. Contact Section
/* ------------------------------------------------------------------ */

#contact {
  background: #191919;
  padding-top: 96px;
  padding-bottom: 48px;
  color: #636363;
}

#contact .section-head {
  margin-bottom: 42px;
}

#contact a,
#contact a:visited {
  color: #11ABB0;
}

#contact a:hover,
#contact a:focus {
  color: #fff;
}

#contact h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #EBEEEE;
}

#contact h1 span {
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}

#contact h4 {
  font: 16px/24px 'opensans-bold', sans-serif;
  color: #EBEEEE;
  margin-bottom: 6px;
}

#contact p.lead {
  font: 18px/36px 'opensans-light', sans-serif;
}

#contact .header-col {
  padding-top: 6px;
}

/* ------------------------------------------------------------------ */
/* f. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a,
footer a:visited {
  color: #525252;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

/* copyright */

footer .copyright {
  margin: 0;
  padding: 0;
}

footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.ie footer .copyright li {
  display: inline;
}

footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}

footer .copyright li:first-child:before {
  display: none;
}

/* social links */

footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}

footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
  color: #F06000;
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Go To Top Button */

#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}

#go-top a:hover {
  background-color: #0F9095;
}

